<div #map style="width: 100% ;" [ngStyle]="{'height' : msg.length > 0 ? '85%' : '100%'}"></div>
<button pButton (click)="move()">Simulate Truck Route</button>

<p-dialog *ngIf="area" [(visible)]="areaDialog"
          [style]="{width:'40vw',maxHeight:'70vh' ,backgroundColor:'white',minWidth:'350px'}"
          [draggable]="true">
  <p-header>
    <h4 style="display: inline">{{area.name}}</h4>
    <h4 style="display: inline" *ngIf="dialogEmployee"> - Employee</h4>
    <h4 style="display: inline" *ngIf="dialogEmployees"> - Employees</h4>
  </p-header>

  <div *ngIf="dialogMain">
    <table>
      <tr>
        <td>total bins</td>
        <td>{{currentBins}}</td>
      </tr>
      <hr/>
      <tr>
        <td>under threshold bins</td>
        <td>{{currentUTBins}}</td>
      </tr>
      <hr/>
      <tr>
        <td>about threshold bins</td>
        <td>{{currentATBins}}</td>
      </tr>
      <hr/>
      <tr>
        <td>over threshold bins</td>
        <td>{{currentOTBins}}</td>
      </tr>
      <hr/>
      <tr>
        <td>Emergency bins</td>
        <td>{{currentEBins}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="dialogEmployee && currentEmployee">
    <table>
      <tr style="border-bottom: 1px solid black">
        <td>username</td>
        <td>{{currentEmployee.username}}</td>
      </tr>
      <hr/>
      <tr>
        <td>firstName</td>
        <td>{{currentEmployee.firstName}}</td>
      </tr>
      <hr/>
      <tr>
        <td>lastName</td>
        <td> {{currentEmployee.lastName}}</td>
      </tr>
      <hr/>
      <tr>
        <td>phone</td>
        <td>{{currentEmployee.phone}}</td>
      </tr>
      <hr/>
      <tr>
        <td>address</td>
        <td>{{currentEmployee.address}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="dialogEmployee && !currentEmployee">
    No Employee in Charge!
  </div>

  <div *ngIf="dialogEmployees">
    <p-table #dt [value]="freeEmployees">
      <ng-template pTemplate="header">
        <tr [style]="{maxHeight:'40px'}">
          <input pInputText type="text"
                 (input)="dt.filter($event.target.value, 'username', 'startsWith')" placeholder="Search for username"
                 class="p-column-filter filter" [style]="{'width': '12vw'}">
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr>
          <td class="p-1 d-flex justify-content-between d-inline">
              <p style="display: inline"> {{employee.username}}</p>
            <button style="display: inline;" appHoverColor [defaultBackgroundColor]="'green'"
                    [defaultColor]="'#ffffff'"
                    class="custom-button" (click)="assignEmployeeToArea(area , employee)">
              Assign <i class="fa fa-check"></i>
            </button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>


  <p-footer [style]="{float:'left',maxWidth:'100%'}">
    <div *ngIf="dialogMain" class="card-deck">
      <button appHoverColor [defaultBackgroundColor]="'#238af8'" [defaultColor]="'#ffffff'"
              class="custom-button mr-2 mt-3" (click)="showEmployeeDialog()">
        Employee
      </button>
      <button appHoverColor [defaultBackgroundColor]="'#0f802d'" [defaultColor]="'#ffffff'"
              class="custom-button mr-2 mt-3" (click)="showEmployeesDialog()">
        Assign Employee
      </button>

      <button appHoverColor [defaultBackgroundColor]="'#238af8'" [defaultColor]="'#ffffff'"
              class="custom-button mr-2 mt-3" (click)="updateAreaPrepare(area)">
        Update Area
      </button>

      <button appHoverColor [defaultBackgroundColor]="'#ba091b'" [defaultColor]="'#ffffff'"
              class="custom-button mr-2 mt-3" (click)="confirmDelete(area)">
        delete Area
      </button>

      <button appHoverColor [defaultBackgroundColor]="'#238af8'" [defaultColor]="'#ffffff'"
              class="custom-button mr-2 mt-3" (click)="focusArea(area)">
        Focus Area
      </button>


    </div>

    <div *ngIf="!dialogMain">
      <button appHoverColor [defaultBackgroundColor]="'#238af8'" [defaultColor]="'#ffffff'"
              class="custom-button mr-2 mt-3" (click)="showAreaDialog()">
        Back
      </button>
      <button *ngIf="currentEmployee" appHoverColor style="width: 12em" [defaultBackgroundColor]="'red'" [defaultColor]="'white'"
              class="custom-button " (click)="deleteAreaEmployee(area)">
        unassign Employee
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="isAreaForm"
          [style]="{width:'35vw',minWidth:'150px'}"
          [draggable]="false">
  <p-header>Area Data</p-header>
  <div class="p-field">
    <label for="areaName">Area Name</label>
    <input id="areaName" type="text" class="ml-2" pInputText [(ngModel)]="newArea.name" placeholder="Area Name">
    <br/><br/>
    <label for="coords">Coordinations:</label>
    <br/>
    <textarea style="width: 90%;height: 120px" id="coords" pInputTextarea [(ngModel)]="coordinates" readonly></textarea>

  </div>
  <p-footer [style]="{float:'left'}">
    <button *ngIf="isCreateArea" pButton type="button" label="Create Area" (click)="addArea(newArea)"></button>
    <button *ngIf="isUpdateArea" pButton type="button" label="Update Area" (click)="updateArea(newArea)"></button>

  </p-footer>

</p-dialog>

<p-confirmDialog [style]="{width: '20vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages [value]="msg" [style]="{zoom:'0.9'}" (click)="clearMessages()"></p-messages>







