table {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 50%;
  min-width: 250px;
}


hr {
  padding: 0;
  margin: 0
}

.row-addon {
  display: inline;
  background-color: #e9ecef;
  margin: 0;
  padding: 10px;
  min-width: 165px;
  border-radius: 3px;
  color: #6c757d;
}

.custom-button {
  font-size: 0.9em;
  width: 80px;
  min-width: 80px;
}

.check-icon {
  color: black;
}

.check-icon:hover {
  color: green;
}

.assign-icon{
  padding-right: 0.2em;
  margin-right: 10px;
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
}

.fa:hover{
  font-size: 1.8em;
}

::ng-deep .p-datatable .p-datatable-tbody {
}

::ng-deep .p-datatable .p-datatable-tbody > tr{
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 50px !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr >  td{
  border: none;

}


