table {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 50%;
  min-width: 250px;
}

input {
  zoom: 0.9;
}

hr {
  padding: 0;
  margin: 0
}

.custom-button {
  font-size: 0.9em;
  width: 80px;
  min-width: 80px;
}

.check-icon {
  color: black;
}

.check-icon:hover {
  color: green;
}


