<div class="d-flex flex-sm-column flex-row justify-content-center sidebar h-100 w-100 ">
  <a routerLink="bins" routerLinkActive="link-active"
     [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-trash mr-2"></i> Bins </a>
  <a routerLink="employees" routerLinkActive="link-active"
     [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-user mr-2"></i>Employees</a>
  <a routerLink="reports" routerLinkActive="link-active"
     [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-bell mr-2"></i>Reports</a>
</div>
