
@media only screen and (max-width: 600px) {
  .sidebar{
    padding-bottom:0;
  }
  a{
    padding-bottom: 0;
  }

  .link-active{
    border-bottom:3px solid #238af8;
  }
}

@media only screen and (min-width: 600px) {
  .sidebar{
    padding-bottom:5em;
  }

  a{
    padding-bottom: 2em;
  }

  .link-active{
    border-left:3px solid #238af8;
  }
}

.sidebar > a {
  padding: 10px;
}

.link-active{
  color: white;
  background-color: #1a252b;
}

a{
  text-decoration: none;
  color:#1a252b;
}

.link-active > i  {
  color: #238af8;
}
