<form #f="ngForm" (ngSubmit)="submitEmployee(f)">
  <input ngModel="{{employee.id}}" name="id" hidden>


  <div class="p-inputgroup mt-2 w-100">
    <span class="p-inputgroup-addon">username</span>
    <input pInputText [(ngModel)]="employee.username" name="username" #username="ngModel"
           placeholder="username" required="">
  </div>
  <div class="invalid-feedback d-block" *ngIf="flag && f.submitted && username.errors.required">
    <div >username is required</div>
  </div>

  <div class="p-inputgroup mt-2 w-100">
    <span class="p-inputgroup-addon">first name</span>
    <input pInputText [(ngModel)]="employee.firstName" name="firstName" #firstName="ngModel"
           placeholder="first name" required="">
  </div>
  <div class="input-position invalid-feedback d-block" *ngIf="flag && f.submitted && firstName.errors.required">
    <div >first name is required</div>
  </div>

  <div class="p-inputgroup mt-2 w-100">
    <span class="p-inputgroup-addon">last name</span>
    <input pInputText [(ngModel)]="employee.lastName" name="lastName" #lastName="ngModel"
           placeholder="last name" required="">
  </div>
  <div class="input-position invalid-feedback d-block" *ngIf="flag && f.submitted && lastName.errors.required">
    <div >last name is required</div>
  </div>

  <div class="p-inputgroup mt-2 w-100">
    <span class="p-inputgroup-addon">phone</span>
    <input pKeyFilter="int" pInputText [(ngModel)]="employee.phone" name="phone" #phone="ngModel"
           placeholder="phone  " required="">
  </div>
  <div class="input-position invalid-feedback d-block" *ngIf="flag && f.submitted && phone.errors.required">
    <div> phone is required</div>
  </div>


  <div class="p-inputgroup mt-2 w-100">
    <span class="p-inputgroup-addon">address</span>
    <input pInputText [(ngModel)]="employee.address" name="address" #address="ngModel"
           placeholder="address" required="">
  </div>
  <div class="input-position invalid-feedback d-block" *ngIf="flag && f.submitted && address.errors.required">
    <div >address is required</div>
  </div>


  <button appHoverColor [defaultBackgroundColor]="'#238af8'" [defaultColor]="'#ffffff'" type="submit"
          class="mt-3 custom-button">Submit
  </button>
</form>

<div class="spinner-container">
  <p-progressSpinner *ngIf="spinner" [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                     animationDuration=".5s"></p-progressSpinner>
</div>
