.main {
  overflow-y: hidden;
  overflow-x: hidden;
}

.content {
  background-color: #fdfcfc;
  max-height: 83vh;
}

.sidebar{
  background-color: #050442;
  min-width: 10%;
}

.header{
 background-color: black;
}

.footer{
  background-color: black;
}


