.main {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.content {
  background-color: #f0f0f0;
  max-height: 83vh;
}

@media only screen and (max-width: 400px) {
  .sidebar{
    min-width: 100px;
  }
}

@media only screen and (min-width: 400px) {
  .sidebar{
    width:150px;
    min-width: 150px;
  }
}
.sidebar{
  background-color: white;
  border-right: 1px solid gray;
}

.header{
 background-color: black;
}



.footer{
  background-color: black;
}


