<div class="d-flex flex-column main h-100">
  <div *ngIf="isAdmin | async" class="header">
    <app-header></app-header>
  </div>

   <div class="d-flex flex-sm-row flex-column flex-grow-1">
      <div *ngIf="isAdmin | async" class="sidebar">
        <app-slidebar></app-slidebar>
      </div>

      <div class="flex-grow-1  content overflow-auto  " style="max-height: 92vh">
        <router-outlet></router-outlet>
      </div>
    </div>

<!--    <div *ngIf="isAdmin | async" class="footer">-->
<!--      <app-footer></app-footer>-->
<!--    </div>-->

</div>


