.main {
  overflow-y: hidden;
  overflow-x: hidden;
}

.content {
  background-color: #f0f0f0;
  max-height: 83vh;
}

.sidebar{
  background-color: white;
  width: 150px;
  min-width: 100px;
  border-right: 1px solid gray;
}

.header{
 background-color: black;
}

.footer{
  background-color: black;
}


