<div class="w-100 pb-3">
    <div class="d-flex flex-wrap align-content-center justify-content-center  flex-sm-row flex-column">
      <div *ngFor="let card of cardsInfo" class="custom-card m-2" style="max-width: 370px">
        <h3>{{card.label}}</h3>
        <p class="card-number">{{card.value}}</p>
      </div>
  </div>

  <div class="custom-card ml-auto mr-auto m-4" style="background-color: white; width: 70vw ;min-width: 345px">
    <div class="mr-auto ml-auto">
      <div style="text-align: center">
        <h1>Bins States</h1>
        <p-dropdown placeholder="All Areas" [options]="areasOptions" [(ngModel)]="selectedArea"
                    (onChange)="changeBinsArea(selectedArea)"></p-dropdown>
      </div>
      <br/>
      <p-chart width="400" height="400" type="pie" [data]="barData"></p-chart>
    </div>
  </div>
</div>
