// ngPrime table style

.selection-button {
  background-color: #007ad9;
  color: white;
  border: 1px solid #007ad9;
  border-radius: 0.3em;
  padding: .5em 1em;
}

::ng-deep .p-highlight{
  border: none;
  outline: none;
}

::ng-deep .p-selectable-row{
  border: none;
  outline: none;
}

:host ::ng-deep .p-datatable
{

  .p-inputtext{
    width: 7vw;
    padding:0.3em;
  }
  .p-datatable-tbody > tr {
    outline: none;
  }

  .p-datatable-thead > tr >th {
    outline: none;
    padding: 0.5em;
  }

  .p-datatable-tbody > tr > td {
    outline: none;
    padding: 0.5em;
  }

  .p-dropdown{
    float: left;
    width: 8vw;
  }

  .p-datatable-caption {
    border: 0 none;
    text-align: left;
    font-size: 1em;
  }

  .p-paginator {
    border: 0 none;
    padding: 1em;
  }
}

.title {
  border:0 none ;
}

::ng-deep * :focus {
  outline:0 !important;
}

::ng-deep .p-inputgroup input:first-child {
  border: 1px solid #ced4da;
}
/* Responsive */
@media screen and (max-width: 60em) {
  :host ::ng-deep .p-datatable {

    .p-datatable-thead > tr > th,
    .p-datatable-tfoot > tr > td {
      display: none !important;
    }

    .p-datatable-tbody > tr {
      border-bottom: 1px solid #1a252b;
    };
    .p-datatable-tbody > tr > td {
      text-align: left;
      display: block;
      width: 100% !important;
      float: left;
      clear: left;

      .p-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
      }
    }

    // custom for the report page since i needed div for tricky toggle
    .p-datatable-tbody > tr > div > td {
      text-align: left;
      display: block;
      width: 100% !important;
      float: left;
      clear: left;
      position: relative;

      .p-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
      }
    }
  }
}

:host ::ng-deep .p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
  font-size: 2rem;
  color: red;
}


::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}



