// ngPrime table style

.selection-button {
  background-color: #007ad9;
  color: white;
  border: 1px solid #007ad9;
  border-radius: 0.3em;
  padding: .5em 1em;
}
:host ::ng-deep .p-datatable
{
  .p-inputtext{
    width: 6vw;
  }
  .p-datatable-tbody > tr {
    outline: none;
  }

  .p-dropdown{
    float: left;
    width: 80px;
  }

  .p-datatable-caption {
    border: 0 none;
    text-align: left;
    font-size: 1em;
  }

  .p-paginator {
    border: 0 none;
    padding: 1em;
  }
}

.title {
  border:0 none ;
}

/* Responsive */
@media screen and (max-width: 60em) {
  :host ::ng-deep .p-datatable {

    .p-datatable-thead > tr > th,
    .p-datatable-tfoot > tr > td {
      display: none !important;
    }

    .p-datatable-tbody > tr > td {
      text-align: left;
      display: block;
      width: 100% !important;
      float: left;
      clear: left;

      .p-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
      }
    }
  }
}

:host ::ng-deep .p-confirmdialog-icon {
  color:red !important;
}

