<div class="d-flex justify-content-between ">
  <img class="navbar-brand" src="https://i.ibb.co/Smjpy5Q/logo.png">


  <div class="d-flex " >
    <a class="nav-item nav-link active mt-2" routerLink="home" fragment="map" [class.link-active]="(activeFragment | async)==='map'" >Map</a>

    <a class="nav-item nav-link active mt-2 " routerLink="home"  fragment="statistics" routerLinkActive="link-active"
       [routerLinkActiveOptions]="{}">Statistics</a>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Amjad Moqade  <img src="https://i.ibb.co/3sdCpwJ/setting.png" style="max-width: 20px;max-height: 20px"></button>
    <div class="dropdown-content">
      <a href="#">Admin Profile</a>
      <a href="#">logout</a>
    </div>
  </div>

</div>
